.footer { background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-family:verdana;
padding: 5px;}
.f1 {color: white; }
.f4 { color: white; }
.bandera {height: 40px;}
