@media screen and (max-width:990px){
    .footer {display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;}
    .main {display: flex !important;
        flex-direction: column !important;
        align-items: cover !important;
    width: 100%;}
    .costado {display: flex ;
        flex-direction: row;
        justify-content: space-evenly;}
    .decostado {margin-top: 5px;
        padding: 5px;
        border: solid 2px white;}
.div1 {height: 600px;}
.h2 {font-size: 40px;
    font-weight: 200px;
    line-height: 50px;
    padding: 10px;}
    .p {font-size: 20px;
    font-weight: 200px;}}