.logopdf { height: 150px;
width: 150px;
margin: 50px;
@media screen and (max-width:990px){
width: 50px;
height: 50px;
margin: 5px;}}
.consen {background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(https://images.unsplash.com/photo-1531391468402-01d7c7680bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmV3Ym9ybiUyMGZlZXR8ZW58MHx8MHx8&w=1000&q=80) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    width: 100% ;
    height: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    @media screen and (max-width:990px){
        height: 900px;}}
.logos {display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
@media screen and (max-width:990px){
    flex-direction: column;
margin-bottom: 5px;}}
.video {width: 400px ;
height: 400px;}
.parto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(https://images.unsplash.com/photo-1531391468402-01d7c7680bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmV3Ym9ybiUyMGZlZXR8ZW58MHx8MHx8&w=1000&q=80) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100% ;
    height: 1200px;
    @media screen and (max-width:990px){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 100%;}}
.t {
@media screen and (max-width:990px){
margin-bottom: 10px;}}